---
---

@import "minima";

// Custom styles for code blocks
pre, code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #f7f7f7;
}

.highlight {
  background: #f7f7f7;
  
  .highlighter-rouge & {
    background: #f7f7f7;
  }

  pre {
    padding: 8px 12px;
    overflow-x: auto;
    
    > code {
      border: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// Add line numbers
.highlight {
  pre {
    counter-reset: line;
  }
  code {
    counter-increment: line;
  }
  code:before {
    content: counter(line);
    display: inline-block;
    padding: 0 .5em;
    margin-right: .5em;
    color: #888;
    border-right: 1px solid #ddd;
  }
}

.align-right {
  float: right;
  margin-left: 20px;
  border-radius: 50%;
  width: 100px; /* Adjust width as needed */
}

.category-bubble {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #007bff; /* Default background color */
  color: white;
  text-decoration: none;
  margin-right: 5px;
}

.category-bubble.sports {
  background-color: blue;
}
.category-bubble.llm {
  background-color: green;
}


